USE [master]
GO
/****** Object:  Database [Academics]    Script Date: 4/27/2024 8:22:25 PM ******/
CREATE DATABASE [Academics]
GO

USE [Academics]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_InstructorAvailability]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_InstructorAvailability](
    @InstructorId INT,
    @StartDate DATE,
    @EndDate DATE,
    @StartTime TIME,
    @EndTime TIME
)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Result NVARCHAR(50)

    IF EXISTS(
        SELECT 1
        FROM Sections
        WHERE InstructorId = @InstructorId
        AND (
            (StartDate BETWEEN @StartDate AND @EndDate) OR
            (EndDate BETWEEN @StartDate AND @EndDate) OR
            (StartDate <= @StartDate AND EndDate >= @EndDate)
        )
        AND (
            (StartTime BETWEEN @StartTime AND @EndTime) OR
            (EndTime BETWEEN @StartTime AND @EndTime) OR
            (StartTime <= @StartTime AND EndTime >= @EndTime)
        )
    )
        SET @Result = 'Unavailable'
    ELSE
        SET @Result = 'Available'

    RETURN @Result
END

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] NOT NULL,
	[CourseName] [varchar](255) NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[HoursToComplete] [int] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[SectionId] [int] NOT NULL,
	[ParticipantId] [int] NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC,
	[ParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[Id] [int] NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
	[OfficeId] [int] NOT NULL,
 CONSTRAINT [PK_Instructors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[Id] [int] NOT NULL,
	[ScheduleType] [nvarchar](max) NOT NULL,
	[SUN] [bit] NOT NULL,
	[MON] [bit] NOT NULL,
	[TUE] [bit] NOT NULL,
	[WED] [bit] NOT NULL,
	[THU] [bit] NOT NULL,
	[FRI] [bit] NOT NULL,
	[SAT] [bit] NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [int] NOT NULL,
	[SectionName] [varchar](255) NOT NULL,
	[CourseId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CourseOverview]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CourseOverview] AS
SELECT 
    c.CourseName,
    sec.SectionName,
    i.FName AS InstructorFirstName,
    i.LName AS InstructorLastName,
    sch.ScheduleType,
    CONCAT(CASE WHEN sch.SUN = 1 THEN 'Sun, ' ELSE '' END,
           CASE WHEN sch.MON = 1 THEN 'Mon, ' ELSE '' END,
           CASE WHEN sch.TUE = 1 THEN 'Tue, ' ELSE '' END,
           CASE WHEN sch.WED = 1 THEN 'Wed, ' ELSE '' END,
           CASE WHEN sch.THU = 1 THEN 'Thu, ' ELSE '' END,
           CASE WHEN sch.FRI = 1 THEN 'Fri, ' ELSE '' END,
           CASE WHEN sch.SAT = 1 THEN 'Sat' ELSE '' END) AS CourseDays,
    sec.StartTime,
    sec.EndTime,
    sec.StartDate,
    sec.EndDate,
    COUNT(e.ParticipantId) AS NumberOfEnrolledParticipants
FROM 
    Courses c
    JOIN Sections sec ON c.Id = sec.CourseId
    JOIN Instructors i ON sec.InstructorId = i.Id
    JOIN Schedules sch ON sec.ScheduleId = sch.Id
    LEFT JOIN Enrollments e ON sec.Id = e.SectionId
GROUP BY
    c.CourseName, 
    sec.SectionName, 
    i.FName, 
    i.LName, 
    sch.ScheduleType, 
    sec.StartTime, 
    sec.EndTime, 
    sec.StartDate, 
    sec.EndDate,
    sch.SUN, 
    sch.MON, 
    sch.TUE, 
    sch.WED, 
    sch.THU, 
    sch.FRI, 
    sch.SAT;

GO
/****** Object:  UserDefinedFunction [dbo].[GetSectionsExceedingParticipantCount]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSectionsExceedingParticipantCount](@numberOfParticipants int)
RETURNS TABLE
AS
RETURN
(
    SELECT s.*
    FROM Sections AS s
    WHERE 
    (
        SELECT COUNT(*) 
        FROM Enrollments AS e
        WHERE s.Id = e.SectionId
    ) >= @numberOfParticipants
)

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coporates]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coporates](
	[Id] [int] NOT NULL,
	[Company] [nvarchar](max) NOT NULL,
	[JobTitle] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Coporates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Individuals]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Individuals](
	[Id] [int] NOT NULL,
	[University] [nvarchar](max) NOT NULL,
	[YearOfGraduation] [int] NOT NULL,
	[IsIntern] [bit] NOT NULL,
 CONSTRAINT [PK_Individuals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[Id] [int] NOT NULL,
	[OfficeName] [varchar](50) NOT NULL,
	[OfficeLocation] [varchar](50) NOT NULL,
	[OfficeEnabled] [bit] NULL,
 CONSTRAINT [PK_Offices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Particpants]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Particpants](
	[Id] [int] NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Particpants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] NOT NULL,
	[Feedback] [nvarchar](max) NULL,
	[CourseId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240323194741_initial', N'8.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240323195336_update-officetbale', N'8.0.3')
GO
INSERT [dbo].[Coporates] ([Id], [Company], [JobTitle]) VALUES (1501, N'Davis Group', N'Senior Group Executive')
INSERT [dbo].[Coporates] ([Id], [Company], [JobTitle]) VALUES (1502, N'Mante and Sons', N'Human Program Developer')
INSERT [dbo].[Coporates] ([Id], [Company], [JobTitle]) VALUES (1503, N'Ledner, Weber and Howe', N'Customer Security Associate')
GO
INSERT [dbo].[Courses] ([Id], [CourseName], [Price], [HoursToComplete]) VALUES (1, N'Flutter', CAST(3669.00 AS Decimal(15, 2)), 50)
INSERT [dbo].[Courses] ([Id], [CourseName], [Price], [HoursToComplete]) VALUES (2, N'CS50', CAST(1439.00 AS Decimal(15, 2)), 40)
INSERT [dbo].[Courses] ([Id], [CourseName], [Price], [HoursToComplete]) VALUES (3, N'Microsoft 365', CAST(3903.00 AS Decimal(15, 2)), 80)
GO
INSERT [dbo].[Enrollments] ([SectionId], [ParticipantId]) VALUES (22, 1)
INSERT [dbo].[Enrollments] ([SectionId], [ParticipantId]) VALUES (20, 2)
INSERT [dbo].[Enrollments] ([SectionId], [ParticipantId]) VALUES (137, 2)
GO
INSERT [dbo].[Individuals] ([Id], [University], [YearOfGraduation], [IsIntern]) VALUES (1, N'LLC', 1997, 0)
INSERT [dbo].[Individuals] ([Id], [University], [YearOfGraduation], [IsIntern]) VALUES (2, N'LLC', 2025, 0)
INSERT [dbo].[Individuals] ([Id], [University], [YearOfGraduation], [IsIntern]) VALUES (3, N'and Sons', 1998, 0)
GO
INSERT [dbo].[Instructors] ([Id], [FName], [LName], [OfficeId]) VALUES (1, N'Theodore', N'Abshire', 1)
INSERT [dbo].[Instructors] ([Id], [FName], [LName], [OfficeId]) VALUES (2, N'Rex', N'Ebert', 2)
INSERT [dbo].[Instructors] ([Id], [FName], [LName], [OfficeId]) VALUES (3, N'Ashley', N'Kreiger', 3)
GO
INSERT [dbo].[Offices] ([Id], [OfficeName], [OfficeLocation], [OfficeEnabled]) VALUES (1, N'Off_001', N'87273', 0)
INSERT [dbo].[Offices] ([Id], [OfficeName], [OfficeLocation], [OfficeEnabled]) VALUES (2, N'Off_002', N'84602', 0)
INSERT [dbo].[Offices] ([Id], [OfficeName], [OfficeLocation], [OfficeEnabled]) VALUES (3, N'Off_003', N'83476', 0)
GO
INSERT [dbo].[Particpants] ([Id], [FName], [LName]) VALUES (1, N'Joseph', N'Nader')
INSERT [dbo].[Particpants] ([Id], [FName], [LName]) VALUES (2, N'Tricia', N'Huel')
INSERT [dbo].[Particpants] ([Id], [FName], [LName]) VALUES (3, N'Roberto', N'Macejkovic')
GO
INSERT [dbo].[Reviews] ([Id], [Feedback], [CourseId], [CreatedAt]) VALUES (1, N'elit consectetur elit elit ipsum consectetur elit elit dolor adipiscing elit dolor adipiscing sit adipiscing ipsum amet dolor adipiscing sit lorem sit ipsum consectetur dolor ipsum sit lorem amet sit dolor dolor lorem dolor lorem lorem elit elit elit consectetur adipiscing.', 1, CAST(N'2022-05-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [Feedback], [CourseId], [CreatedAt]) VALUES (2, N'sit elit sit ipsum elit ipsum adipiscing adipiscing sit dolor consectetur consectetur adipiscing ipsum sit amet consectetur sit ipsum consectetur elit dolor ipsum lorem amet lorem amet elit sit adipiscing lorem ipsum amet adipiscing sit dolor sit consectetur ipsum amet elit sit ipsum elit lorem lorem.', 1, CAST(N'2023-01-18T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [Feedback], [CourseId], [CreatedAt]) VALUES (3, N'amet adipiscing consectetur amet sit sit sit adipiscing adipiscing adipiscing sit elit amet adipiscing ipsum elit lorem dolor consectetur consectetur amet elit lorem ipsum dolor sit adipiscing dolor consectetur amet amet elit.', 1, CAST(N'2019-03-12T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Schedules] ([Id], [ScheduleType], [SUN], [MON], [TUE], [WED], [THU], [FRI], [SAT]) VALUES (1, N'Daily', 1, 1, 1, 1, 1, 0, 0)
INSERT [dbo].[Schedules] ([Id], [ScheduleType], [SUN], [MON], [TUE], [WED], [THU], [FRI], [SAT]) VALUES (2, N'DayAfterDay', 1, 0, 1, 0, 1, 0, 0)
INSERT [dbo].[Schedules] ([Id], [ScheduleType], [SUN], [MON], [TUE], [WED], [THU], [FRI], [SAT]) VALUES (3, N'TwiceAWeek', 0, 1, 0, 1, 0, 0, 0)
GO
INSERT [dbo].[Sections] ([Id], [SectionName], [CourseId], [InstructorId], [ScheduleId], [StartDate], [EndDate], [StartTime], [EndTime]) VALUES (1, N'01A51C05', 1, 59, 2, CAST(N'2015-11-07' AS Date), CAST(N'2015-12-10' AS Date), CAST(N'08:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[Sections] ([Id], [SectionName], [CourseId], [InstructorId], [ScheduleId], [StartDate], [EndDate], [StartTime], [EndTime]) VALUES (2, N'F9EA4ED5', 2, 33, 2, CAST(N'2015-06-09' AS Date), CAST(N'2015-07-18' AS Date), CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[Sections] ([Id], [SectionName], [CourseId], [InstructorId], [ScheduleId], [StartDate], [EndDate], [StartTime], [EndTime]) VALUES (3, N'6217225C', 12, 48, 2, CAST(N'2023-07-15' AS Date), CAST(N'2023-08-03' AS Date), CAST(N'13:00:00' AS Time), CAST(N'16:00:00' AS Time))
GO
/****** Object:  Index [IX_Enrollments_ParticipantId]    Script Date: 4/27/2024 8:22:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_ParticipantId] ON [dbo].[Enrollments]
(
	[ParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Instructors_OfficeId]    Script Date: 4/27/2024 8:22:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Instructors_OfficeId] ON [dbo].[Instructors]
(
	[OfficeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_CourseId]    Script Date: 4/27/2024 8:22:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_CourseId] ON [dbo].[Reviews]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sections_CourseId]    Script Date: 4/27/2024 8:22:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sections_CourseId] ON [dbo].[Sections]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sections_InstructorId]    Script Date: 4/27/2024 8:22:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sections_InstructorId] ON [dbo].[Sections]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sections_ScheduleId]    Script Date: 4/27/2024 8:22:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sections_ScheduleId] ON [dbo].[Sections]
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Coporates]  WITH CHECK ADD  CONSTRAINT [FK_Coporates_Particpants_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Particpants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Coporates] CHECK CONSTRAINT [FK_Coporates_Particpants_Id]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Particpants_ParticipantId] FOREIGN KEY([ParticipantId])
REFERENCES [dbo].[Particpants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Particpants_ParticipantId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Sections_SectionId]
GO
ALTER TABLE [dbo].[Individuals]  WITH CHECK ADD  CONSTRAINT [FK_Individuals_Particpants_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Particpants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Individuals] CHECK CONSTRAINT [FK_Individuals_Particpants_Id]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_Instructors_Offices_OfficeId] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[Offices] ([Id])
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_Instructors_Offices_OfficeId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Courses_CourseId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Courses_CourseId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Instructors_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructors] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Instructors_InstructorId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Schedules_ScheduleId]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSectionWithninDateRange]    Script Date: 4/27/2024 8:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSectionWithninDateRange]
    @StartDate DATE,
	@EndDate DATE
AS
BEGIN
    SELECT
        S.Id,
        C.CourseName,
        C.HoursToComplete TotalHours,
        S.SectionName,
        (I.FName + ' ' + I.LName) As Instructor,
        FORMAT(S.[StartDate], 'yyyy-MM-dd') + ' - ' + FORMAT(S.[EndDate], 'yyyy-MM-dd') As Period,
           COALESCE(CONVERT(VARCHAR, S.[StartTime], 108), 'N/A') 
            + ' - ' + 
            COALESCE(CONVERT(VARCHAR, S.[EndTime], 108), 'N/A') 
            + ' (' + 
            CAST(DATEDIFF(HOUR, S.[StartTime], S.[EndTime]) AS VARCHAR(2)) + ' hrs)' As Timeslot,
        SC.SUN,
        SC.MON,
        SC.Tue,
        SC.WED,
        SC.THU,
        SC.FRI,
        SC.SAT,
            CAST((DATEDIFF(MINUTE, S.StartTime, S.EndTime)/60.0) * 
                CASE 
                    WHEN SC.ScheduleType = 'Daily' THEN 7
                    WHEN SC.ScheduleType = 'DayAfterDay' THEN 3
                    WHEN SC.ScheduleType = 'TwiceAWeek' THEN 2
                    WHEN SC.ScheduleType = 'Weekend' THEN 2
                    WHEN SC.ScheduleType = 'Compact' THEN 7
                    ELSE 0
                END AS INT) AS HoursPerWeek
    FROM Sections S
    JOIN Courses C ON S.CourseId = C.Id
    JOIN Schedules SC ON S.ScheduleId = SC.Id
    JOIN Instructors I ON S.InstructorId = I.Id
    WHERE (S.StartDate BETWEEN @StartDate AND @EndDate) 
   AND (S.EndDate BETWEEN @StartDate AND @EndDate)
END;

GO
USE [master]
GO
