@{
    ViewData["Title"] = "Home Page";
}
<div class="container p-3 m-3">

    <h3 class="text-center"><i class="bi bi-emoji-heart-eyes-fill"></i> السلام عليكم ورحمة الله وبركاته</h3>
    <div class="d-flex justify-content-end p-3">
        <h5 class="m-3">شكر و عرفان  - </h5>
    </div>
    <div>
        <p dir="rtl" style="font-size:18px">
            أولاً أحب أن أشكر المهندس عصام على ما قدم من دروس و شروحات في تعلم تقنية الـ NET Core.
            فاسال الله سبحانه وتعالى ان يجزيه خير الجزاء ويحفظه في نفسه و ماله و أهله.
        </p>
    </div>
    <div class="d-flex justify-content-end p-3">
        <h5 class="m-3">الهدف من المشروع  - </h5>
    </div>
    <div>
        <p dir="rtl" style="font-size:18px">
            المشروع عبارة عن عمل نسخة من مشروع المهندس عصام في درس الـ [EF-17] 
            بالـ ASP.NET Core MVC <br />
            اقتصر علمنا فقط على عمليات الـ [CRUD] و عمل الواجهات لعرض البيانات مع بعض الاضافات في بعض الصفحات مثل الـ Pagination And Searching
           <br />
           لم يتم مراعات الـ Validation or Tracking all Code path
            <br />
            <span class="text-danger">
                الغرض من المشروع هو تدريبي فقط بحيث يكون مرجع للطالب للتدريب عليه بالتعديل على الكود و الحذف و الاضافة و تجربة ما يتعلم   
            </span>
            <br />
            أخيراً أرجو أن أكون قدمت ما ينفع الأخوان في مجموعة التلقرام و للاستفسار او السؤال أخوكم حاضر إن شاء الله بما يستطيع من علم متواضع فأنا في أول الطريق و أسال الله التوفيق 
            <br />
            <span class="text-primary ">المنهدس : فواز المطرفي </span>
        </p>
    </div>
    <div class="d-flex justify-content-end p-3">
        <h5 class="m-3 text-danger">تنبيهات مهمة   - </h5>
    </div>
    <div>
        <p dir="rtl" style="font-size:18px" class="text-danger">
            تم التعديل على قاعدة البيانات الاساسية بدرس الـ[EF17] هو تعديل بسيط جدا 
            حيث تم إضافة عمود للجدول الـ [Office] وهو باسم [OfficeEnabled] 
            و الغرض من التعديل هو عند إضافة  New Instructor  تكون هنالك قائمة بالمكاتب المتاحة فقط و ليس عرض جميع المكاتب 
            <br />
            يوجد بمجلدات المشروع سكربت بقاعة البيانات كامل ما عليك الا تشغيل هذا السكربت من sql server management studio
            <br />
            تأكد من اسم السيرفر من ملف الـ appsetting.jos 
        </p>
    </div>
</div>
