@model Office

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4 ">
        <div class="row pb-2">
            <h2 class="text-primary">
                Edit Office
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div> @*her is validate on all fields   *@
        <div class="mb-3 row p-1">
            <label class="p-0">Office ID</label>
            <input asp-for="Id" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Office Name</label>
            <input asp-for="OfficeName" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Office Location</label>
            <input asp-for="OfficeLocation" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Office Enablety</label>
            <input asp-for="OfficeEnabled" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Office" asp-action="Index" class="btn btn-secondary form-control border">Back To List</a>
            </div>

        </div>

    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}